.projects {
  height: 740px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.my-projects {
  color: #ff8230;
  margin: 50px 0 0 0;
  align-self: center;
  font-family: "Saira";
}

.projects__title {
  align-self: center;
  font-size: 35px;
  font-family: "Roboto";
}

.projects__title span {
  color: #ff8230;
}

.projects__grid {
  margin: 30px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 200px);
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.projects__card {
  width: 300px;
  height: 200px;
  border: 0.5px solid #717070;
  border-radius: 10px;
  background-color: #262626;
}

.projects__card:hover {
  transform: translateY(-5px);
  border-color: #ff8230;
  color: #ff8230;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.4),
    0 0 0 1px rgba(255, 130, 48, 0.4),
    0 0 20px rgba(255, 130, 48, 0.25);
}

.projects__link {
  align-self: center;
  margin: 50px 0 0 0;
  color: #9a9797;
}
