.footer {
  height: 100px;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  justify-content: center;
  align-items: center;
  gap: 450px;
}

.footer__logo {
  width: 116px;
  height: 30px;
  margin: 20px;
}

.footer__description {
  margin: 10px;
  font-size: 15px;
  color: #9a9797;
  font-family: "Saira";
}

.footer__socialNetwork {
  width: 112px;
  display: flex;
  justify-content: space-between;
}

.footer__icons {
  width: 22px;
  height: 22px;
}
