.footer {
  height: 100px;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-family: "Inter";

  align-items: center;
}

.footer__logo {
  justify-content: end;
  width: 116px;
  height: 30px;
  margin: 20px;
}

.footer__description {
  margin: 10px;
  font-size: 15px;
  color: #9a9797;
  font-family: "Saira";
}

.footer__socialNetwork {
  width: 112px;
  display: flex;
  justify-content: space-between;
}

.footer__icons {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 1024px) {
  .footer {
    gap: 80px;
  }
}

@media screen and (max-width: 650px) {
}
