@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./components/Header/Header.css);
@import url(./components/Main/Main.css);
@import url(./components/About/About.css);
@import url(./components/Projects/Projects.css);
@import url(./components/Contacts/Contacts.css);
@import url(./components/Footer/Footer.css);
