.contacts {
  height: 680px;
  background-color: #1c1c1c;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.contacts__talk {
  font-family: "Saira";
  color: #ff8230;
  margin: 50px 0 0 0;
  align-self: center;
}

.contacts__title {
  align-self: center;
  font-size: 35px;
  font-family: "Roboto";
}

.contacts__title span {
  color: #ff8230;
}
